# This file is controlled by Puppet. Linebreaks are important and should not be changed.
{% for port in ports %}"127.0.0.1","{{ port }}","http","/home/{{ username }}/.ssh/localhost.key",""
{% endfor %}
