---
- hosts: all
  remote_user: vagrant
  sudo: yes
  sudo_user: root
  vars:
    username: vagrant
  tasks:
    - include: ../modules/timezone/playbooks/sydney-centos.yml
    - include: ../modules/utils/playbooks/base-centos.yml
    - include: ../modules/yumrepos/playbooks/epel.yml
    - include: ../modules/yumrepos/playbooks/elgis.yml
    #- include: ../modules/apache/playbooks/mod_tile_aws.yml
    - include: ../modules/gis/playbooks/mapnik-deps.yml
    #- include: ../modules/gis/playbooks/mapnik-source.yml
    - include: ../modules/apache/playbooks/httpd.yml
    - include: ../modules/gis/playbooks/mod_tile-source.yml

